*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
	background-color: #b1bfca;

}
nav{
	flex: 1;
	text-align: right;
	

}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;

}
a{
	text-decoration: none;
}

p{
	color: rgb(8, 8, 8);
	background-color: yellows;
}
main{
	background-color: #e3f2fd;
}
	
body{
	font-family: "open sans", sans-serif;
	font-size: 0.75rem;
	
}
footer{
	background-color: #ffffff;
}
footer ul li{
	list-style-type: none;
}

/* 
this is a practice comment*/
